.body {
    font-family: arial;
}

.reg-form {
    border: 1px solid transparent;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px; 
    padding: 15px;
    box-shadow: 0 0 0 0.25rem rgb(75 75 79 / 50%);
}

.input-form {
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px; 
}

.input-form:focus {
    border-color: rgb(240 59 49 / 50%);
    box-shadow: 0 0 0 0.25rem rgb(240 59 49 / 50%);
}


.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 2px solid #EF483E;;
    margin-right: 12px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.custom-checkbox:checked+label::before {
    border-color: #EF483E;
    background-color: #EF483E;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.custom-button {
    background-color: #EF483E;
    border-color: #EF483E;
    outline: transparent;
}

.custom-button:hover, .custom-button:active, .custom-button:focus {
    background-color: #f03b31;
    border-color: #f03b31;
    box-shadow: 0 0 0 0.25rem rgb(240 59 49 / 50%);
}
